Repository theforeman/puppet-katello, pull requests merged in 2021-11, with the labels that each got.

#433 Fixes #33830 - Drop content type settings
  manifests/application.pp
  manifests/globals.pp
  manifests/params.pp
  spec/classes/application_spec.rb
  templates/katello.yaml.erb
Labels: Needs testing

#430 Release 21.1.0
  CHANGELOG.md
  metadata.json
Labels: Needs testing, skip-changelog

#434 Allow theforeman/foreman 19.0.0
  metadata.json
Labels: Needs testing, Enhancement

#435 Release 21.2.0
  CHANGELOG.md
  metadata.json
Labels: Needs testing, skip-changelog
