Repository theforeman/puppet-katello, pull requests merged in 2024-05, with the labels that each got.

#494 Mark compatible with katello/candlepin 16.x & katello/certs 18.x
  metadata.json
Labels: Not yet reviewed, Enhancement

#495 Release 25.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#496 Allow theforeman/foreman 25.x
  metadata.json
Labels: Enhancement

#497 Release 25.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
